html {
	background: #F0E68C;
}
body {
    background: #F0E68C;
	max-width: 100%;
	min-width: 100%;
    margin: 0;
}

footer {
    background: #F0E68C;
    max-width: 100%;
	min-width: 100%;
    margin: 0;
    text-align: center;
}

#global {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    position: relative;
}

/*container*/
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}
/*--------------------------------------*/
/*Logo*/
#logo {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
}
/*--------------------------------------*/
/*NavBar*/
.navbar .navbar-inner {
    padding: 0;
}
.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}
.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}
.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}
/*--------------------------------------*/

ul {
	display: table;
	background: linear-gradient(#F0E68C,#DAA520);
	background: -webkit-linear-gradient(#F0E68C, #DAA520);
	background: -moz-linear-gradient(#F0E68C, #DAA520);
	background: -o-linear-gradient(#F0E68C, #DAA520);
	background: -linear-gradient(#F0E68C, #DAA520);
	border-radius: 6px;
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
	text-align: center;
    
}
table#Partie {
    border: 1px solid;
}
tr#Partie {
    border: 1px solid;
}
td#Partie {
    border: 1px solid;
}

div#cadre {
    border: 3px #DAA520 solid;
}
div#menuGauche {
    float: left;
    width: 100px;
    background-color: #BDB76B;
}
div#autreMenu {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    background-color: #BDB76B;
}
section {
	border: 1px #BDB76B solid;
    text-align: center;
    background: #BDB76B;
    width: 800px;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    
}
/*td {
	border: 2px solid darkorange;
}
tr {
	border: 5px solid darkorange;
}*/
p#cadre {
    background: #A9A9A9;
    width: 50%;
    margin: auto;
    
}
table {
    margin-left: auto;
    margin-right: auto;
}

.marge {
margin-left: 5em;
}