<section>
    <article>
            <div >
                <div id="menuGauche">
                    <ul class="nav">
				        <li><a href="#/connexion">Connexion</a></li>
				        <li><a href="#/inscription">S'inscrire</a></li>
                        <li><a href="#/profil">Profil</a></li>
			        </ul>
                </div>
                <div id="global">
                    <p id="cadre">
                        Bonjour !<br />
                        Bienvenue sur <strong>Fulguro Go</strong> !
                    </p>
                    <!--------------------------------------------------->
                    <noscript>
                        Pour accéder à toutes les fonctionnalités de ce site, vous devez activer JavaScript.
                        Voici les <a href="http://www.enable-javascript.com/fr/" target="_blank">
                        instructions pour activer JavaScript dans votre navigateur Web</a>.
                    </noscript>
                    <!--------------------------------------------------->
                    <p>
                        Le <strong>but</strong> du site est de rassembler toute une communauté en un seul et même lieu.<br />
                        Vous jouez au Go ? Vous débutez ou vous êtes joueur confirmé ? 
                        Vous voulez progresser ou passer de très bon moments avec nous ?<br />
                        Vous êtes au bon endroit. Vous trouverez sur ce site le maximum d'informations sur le <strong>jeu de Go</strong>
                    </p>
                        Les vidéos qui sont sur Youtube, les articles intéressants apparaissant comme des petites nouveautés, un projet ultra secret<br />
                        Mais aussi un forum (en construction), et plein d'autres choses.<br />
                    </p>
                    <hr>
                    <p>
                        Vous êtes <strong><u>nouveau</u></strong> sur le site ?<br />
                        N'hésitez pas à vous <strong><u>inscrire</u></strong> sur le site !<br />
                    </p>
                    <p>
                        <u><i>A quoi cela sert-il ?</i></u><br />
                        Ce site est en cours de création, il aura plusieurs utilités qui seront liées à votre compte.<br />
                        Comme par exemple pouvoir ajouter des textes dans la partie "Bash" ou encore tester une future application au site web.<br />
                    </p>
                    <hr>
                    <a href="" ng-click="logout()">Déconnexion</a>
                </div>
            </div>   
    </article>
</section>