<section>
    <h3>Inscription</h3>
    <form role="form" name="formSub">
        <div ng-controller="subCtrl" class="form-group">
            <div>
                Bienvenue: {{signUpInfo.identifiant}}<br />
                <strong>Identifiant:</strong><br /> 
                <input type="email" placeholder="Votre e-mail" ng-model="signUpInfo.identifiant" required><br />
                <strong>Mot de passe:</strong><br /> 
                <input type="password" placeholder="Votre mot de passe" ng-model="signUpInfo.pwd" required><br /><br />
                <button type="button" ng-click="signUserUp(signUpInfo)" ng-disabled="formSub.$invalid">S'inscrire</button>
                <p>{{msgtxt}}</p>
                <p><a href="#/connexion">Déjà inscrit ? Ne vous inscrivez plus, connectez-vous !</a></p>
            </div>
        </div>
    </form>
</section>
