<section>
    <article ng-controller="gameCtrl">
        <div id="global">
            <p>
                <h4>Voulez-vous jouer ou rejouer au Go ? <br />
                Cliquer simplement sur "Jouer" ci-dessous.</h4><br />
            </p>
        </div>
            <div >
                <div>
                    <div id="autreMenu">
                        <ul class="nav">
                            <li><a ng-click="show=true"><h3><strong>Jouer</strong></h3></a></li>
                        </ul>
                    </div>
                    <br />
                    <!--<form role="form" name="formCouleur" ng-show="show">
                        <br /><p>Quelle couleur voulez-vous ?</p>
                        <label><input type="radio" name="blanc" ng-value="1" ng-model="couleurChoisi">Blanc</label>
                        <label><input type="radio" name="noir" ng-value="0" ng-model="couleurChoisi">Noir</label>
                        <button type="submit" ng-click="game.makeCouleur(couleurChoisi)" ng-model="couleur">Validez votre couleur</button>
                    </form>
                    <br />-->
                    <div ng-show="show">
                        <p>Quelle taille de plateau ? (9*9 disponible uniquement pour l'instant)</p>
                        <div id="autreMenu">
                            <ul class="nav">
                                <li><a href="#/jouer"><strong>Taille 9*9</strong></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </article>
</section>