<section>
    <div>
        <h2><p>Bienvenue {{ infos.pseudo }}</p></h2>
    </div>
    <h3>Votre profil</h3>

    <div>
        <div>
            <strong>Prénom:</strong> {{ infos.prenom }} <span class="marge"></span><input type="text" placeholder="Votre prénom" ng-model="modifyProfil.prenom"><br />
            <strong>Pseudo:</strong> {{ infos.pseudo }} <span class="marge"></span><input type="text" placeholder="Votre pseudo" ng-model="modifyProfil.pseudo"><br />
            <strong>Rang:</strong> {{ infos.rang }} <span class="marge"></span><input type="text" placeholder="Votre rang" ng-model="modifyProfil.rang"><br />
            <strong>Serveur:</strong> {{ infos.serveur }} <span class="marge"></span><input type="text" placeholder="Serveur préféré" ng-model="modifyProfil.serveur"><br />
            <!--<strong>Nombre de partie jouée:</strong> {{ infos.nbr }}<br />-->
            <br /><button type="button" ng-click="modifyP(modifyProfil)">Modifier mon profil</button> <strong>{{ modif }}</strong>
        </div>
    </div>    
</section>